*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.align-item-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
:before :after{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.v-center{
    align-items: center;
}
/* header */
.header{
    display: block;
    position: relative;
    z-index: 99;
    width: 100%;
    padding: 2%;
}
.header .item-left{
      flex: 0 0 17%;
}
.header .item-center{
    
    flex: 0 0 60%;
}
.header .item-right{
    
    flex: 0 0 17%;
    display: flex;
    justify-content: flex-end;
}
.menu-main{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header .menu .menu-main li{
    display: inline-block;
    line-height: 50px;
    margin-left: 15px;
}
.header .menu ul li a{
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    transition: color 0.3s ease-in-out;
}

.header .menu .menu-main li .sub-menu{
    position: absolute;
    z-index: 500;
    background-color: #555555;
    box-shadow: -2px 2px 70px -25px rgba(0, 0, 0,0.3);
    transition: all 0.5s ease-in-out;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;

}
@media (min-width:992px) {
    

.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
    margin-top: 0;
    visibility: visible;
    opacity: 1;

}
}
.header .menu .menu-main li .sub-menu ul li a{
   
    line-height: 1;
    font-size: 15px;
    color: beige;
    display: inline-block;
    
}
.header .menu .menu-main li .single-column-menu{
        width: clamp(10rem , 15vw, 15rem);
}
.header .menu .menu-main li .sub-menu.mega-menu{
    width: clamp(10rem, 15vw, 15rem);
    padding: 5px 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
}
.header .menu .menu-main li .sub-menu.mega-menu .list-item{
    flex: 0 0 25%;
}
.header .menu .menu-main li .sub-menu.mega-menu .list-item ul li{
    display: block;
    padding: 0px;
    margin: 0px;
    line-height: 1;
    
}
.header .menu .menu-main li .sub-menu.mega-menu .list-item .title{
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 500;
    color: #ea4636;
}
.header .menu .menu-main li .sub-menu.mega-menu .list-item img{
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
}
.header .menu .menu-main li .sub-menu.mega-menu-column-4{
    width: 1100px;
    max-width: 100%;
}
.header .logo a{ 
        text-decoration: none;
        font-size: 1.8rem;
        color: black;
        text-transform: capitalize;
}
.header .item-right a{
    text-decoration: none;
    font-size: 1rem;
    margin-left: 1rem;
    color: #555555;
    display: inline-block;

}


.header .menu .menu-main li .sub-menu ul li a:hover,
.header .item-right a:hover,
.header .menu ul li:hover a{
    color: #ea4636;
}

/* banner-section */

.slides img{
    width: 100%;
}



.mobile-menu-head,
.mobile-menu-trigger{
    display: none;
}



/* responsive */

@media (max-width:992px) {
    .header .item-center{
        order: 3;
        flex:0 0 100%;
    }
    .header .item-right,
    .header .item-left{
        flex: 0 0 auto;
    }
    .v-center{
        justify-content: space-between;
    }
    .mobile-menu-trigger{
        display: flex;
        height: 30px;
        width: 30px;
        border: 1px solid #444444;
        margin-left: 10px;
        cursor: pointer;
        align-items: center;
        justify-content: center;

    }
    .mobile-menu-trigger span{
        height: 2px;
        width: 2rem;
        display: block;
        position: relative;
        background-color: #444444;
    }
    .mobile-menu-trigger span::after,
    .mobile-menu-trigger span::before{
        content: '';
        position: absolute;
        left: 0%;
        height: 100%;
        width: 100%;
        background-color: #444444;
    }
    .mobile-menu-trigger span::before{
        top: -6px;
    }
    .mobile-menu-trigger span::after{
        top: 6px;
    }
    .header .item-right{
        align-items: center;
    }
    .header .menu{
        position: fixed;
        width: 320px;
        background-color: #ffffff;
        box-sizing: 0 0 15px #ccc;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        transform: translate(-100%);
        transition: all 0.5s ease;
		z-index: 500;

    }
    .header .menu.active{
        transform: translate(0%);
    }
    .header .menu .menu-main > li{
            line-height: 1;
            margin: 0;
            display: block;
    }
    .header .menu .menu-main > li a{
        line-height: 50px;
        padding:0 15px;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0,0.1);
    }
    .header .menu .menu-main > li a i{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        background-color: bisque;
        border-left: 1px solid rgba(0, 0, 0,0.1);
        text-align: center;
        line-height: 50px;

    }
    .header .menu .mobile-menu-head{
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0,0.1);
        align-items: center;
        justify-content: space-between;


        z-index: 501;
        position: sticky;
        top: 0;
        background-color: #ffffff;
    }
    .header .menu .mobile-menu-head div{
        font-size: 1.5rem;
    }
    .mobile-menu-close{
        font-size: 2rem;
        width: 50px;
        text-align: center;
        border-left: 1px solid rgba(0, 0, 0,0.1);
    }
    .go-back{
        font-size: 1rem;
        width: 50px;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0,0.1);
        display: none;
    }
    .header .menu > ul > li .sub-menu{
        margin-top: 0;

        position: absolute;
        padding: 15px;
        width: 100%;
        display: none;
        transform: translateX(0%);
    
    }
  
    .header .menu{
        overflow: scroll;
    }
    .header .menu .menu-main li .sub-menu.mega-menu .list-item{
        flex: 0 0 100%;
    }
    .header .menu .menu-main li .sub-menu.mega-menu .list-item ul li a{
        display: block;
        margin-top: 6%;
    }
    .header .menu .menu-main li{
        display: block;
        margin:0;
    }
    .header .menu .menu-main li .sub-menu.mega-menu.active{
        display: block;
      
    }
    @keyframes slideleft {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    @keyframes slideright {
        0% {
            opacity: 1;
            transform: translateX(0%);
        }
        100% {
            opacity: 0;
            transform: translateX(100%);
        }
        
    }
    .header .menu .menu-main li .sub-menu.mega-menu {
        display: none;
        visibility: visible;
        opacity: 1;
    }
    .header .menu .menu-main li .sub-menu{
        margin: 0;
    }
    .header .menu .mobile-menu-head.active .go-back{
        display: block;
    }
    .menu-overlay{
        position: fixed;
        background-color: rgba(0, 0, 0,0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 498;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease ;
    }
    .menu-overlay.active{
        visibility: visible;
        opacity: 1;
    }
}